<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.tieba.mapper.PostMapper">
    <cache/>

    <update id="update" parameterType="org.example.tieba.model.Post">
        UPDATE post
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            updated_at = #{updatedAt}
        </set>
        WHERE id = #{id}
    </update>
</mapper>